{% extends 'base.html.twig' %}

{% block title %}Hello PostController!
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.fixed-bottom-right {
			position: fixed;
			bottom: 20px;
			right: 20px;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col text-begin">
			Vous avez
			{{ posts|length }}
			posts
		</div>
		<div class="col text-center">
			<a class="btn btn-primary" href="{{ path('app_post', {offset : offset, byJaime : 0} )}}">
				Afficher les posts les plus récents
			</a>
		</div>
		<div class="col text-center">
			<a class="btn btn-primary" href="{{ path('app_post', {offset : offset, byJaime : 1} )}}">
				Afficher les posts les plus aimés
			</a>
		</div>
	</div>
	<div class="row">
		{% if previous >= 0 %}
			<div class="col text-begin">
				<a class="btn btn-primary" href="{{ path('app_post', {offset : previous, byJaime : byJaime} )}}">Précédent</a>
			</div>
		{% endif %}
		{% if next < posts|length %}
			<div class="col text-end">
				<a class="btn btn-primary" href="{{ path('app_post', {offset : next, byJaime : byJaime} )}}">Suivant</a>
			</div>
		{% endif %}
	</div>
	<div class="row">
		{% for post in posts %}
			<div class="col-6">
				<div class="card m-2">
					<div class="card-body">
						<h5 class="card-title">Post du
							{{ post.datePost | date('d/m/y h:i:s') }}
							par
							{{ post.createur.pseudo }}</h5>
						{% if post.imageName %}
							<img src="{{ asset('uploads/posts/' ~ post.imageName ) }}" width="250"></img>
					{% endif %}
					<p class="card-text">{{ post.contenu }}</p>
					<a href="{{ path('app_post_detail', { id : post.id}) }}" class="card-link">Ouvrir</a>
					<a href="{{ path('app_post_like', { id : post.id}) }}" class="card-link">J'aime ({{ post.jaime|length}})</a>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
<a class="btn btn-primary fixed-bottom-right" href="{{ path('app_post_new') }}">Nouveau Post</a>{% endblock %}
